{% extends 'basepeople.html'%}

{% block body %}

<style>
h3{
	font-size:22px;
	color:black;
}
</style>

<div class="container">
<nav class="navbar navbar-default">

<h3> Cosmology (from the Greek κόσμος, kosmos "world" and -λογία, -logia "study of") is the study of the origin, evolution, and eventual fate of the universe. Physical cosmology is the scientific study of the universe's origin, its large-scale structures and dynamics, and its ultimate fate, as well as the scientific laws that govern these areas.

The term cosmology was first used in English in 1656 in Thomas Blount's Glossographia,[3] and in 1731 taken up in Latin by German philosopher Christian Wolff, in Cosmologia Generalis.[4]

Religious or mythological cosmology is a body of beliefs based on mythological, religious, and esoteric literature and traditions of creation myths and eschatology.

Physical cosmology is studied by scientists, such as astronomers and physicists, as well as philosophers, such as metaphysicians, philosophers of physics, and philosophers of space and time. Because of this shared scope with philosophy, theories in physical cosmology may include both scientific and non-scientific propositions, and may depend upon assumptions that cannot be tested. Cosmology differs from astronomy in that the former is concerned with the Universe as a whole while the latter deals with individual celestial objects. Modern physical cosmology is dominated by the Big Bang theory, which attempts to bring together observational astronomy and particle physics;[5] more specifically, a standard parameterization of the Big Bang with dark matter and dark energy, known as the Lambda-CDM model</h3>
</nav>
</div>
{% endblock %}

</html>



