{% extends 'basepeople.html'%}
<html>
{% block body %}

<style>

h3 {
    color: black;
    text-align: center;
}
</style>





<div class="container">
<nav class="navbar navbar-default">


<h3>A neutrino (denoted by the Greek letter ν) is a fermion (an elementary particle with half-integer spin) that interacts only via the weak subatomic force and gravity. The mass of the neutrino is much smaller than that of the other known elementary particles. Although only differences of squares of the three mass values are known as of 2016, cosmological observations imply that the sum of the three masses must be less than one millionth that of the electron. The neutrino is so named because it is electrically neutral and because its rest mass is so small (-ino) that it was long thought to be zero. The weak force has a very short range, gravity is extremely weak on the subatomic scale, and neutrinos, as leptons, do not participate in the strong interaction. Thus, neutrinos typically pass through normal matter unimpeded and undetected</h3>
</nav>
</div>
{% endblock %}

</html>