{% extends 'basepeople.html'%}

{% block body %}

<style>
h3{
	font-size:22px;
	color:black;
}
</style>





<div class="container">
<nav class="navbar navbar-default">

<h3> Nikola Tesla was one of five children, including siblings Dane, Angelina, Milka and Marica. Tesla's interest in electrical invention was spurred by his mother, Djuka Mandic, who invented small household appliances in her spare time while her son was growing up. Tesla's father, Milutin Tesla, was a Serbian orthodox priest and a writer, and he pushed for his son to join the priesthood. But Nikola's interests lay squarely in the sciences.

After studying at the Realschule, Karlstadt (later renamed the Johann-Rudolph-Glauber Realschule Karlstadt); the Polytechnic Institute in Graz, Austria; and the University of Prague during the 1870s, Tesla moved to Budapest, where for a time he worked at the Central Telephone Exchange. It was while in Budapest that the idea for the induction motor first came to Tesla, but after several years of trying to gain interest in his invention, at age 28 Tesla decided to leave Europe for America. </h3>
</nav>
</div>
{% endblock %}

</html>