{% extends 'basepeople.html'%}
<html>
{% block body %}

<style>

h3 {
    color: black;
    text-align: center;
}
</style>

<div class="container">
<nav class="navbar navbar-default">


<h3>Sirius (, a romanization of Greek Σείριος, Seirios, lit. "glowing" or "scorching") is a star system and the brightest star in the Earth's night sky. With a visual apparent magnitude of −1.46, it is almost twice as bright as Canopus, the next brightest star. The system has the Bayer designation Alpha Canis Majoris (α CMa). What the naked eye perceives as a single star is a binary star system, consisting of a white main-sequence star of spectral type A0 or A1, termed Sirius A, and a faint white dwarf companion of spectral type DA2, called Sirius B. The distance separating Sirius A from its companion varies between 8.2 and 31.5 AU.

Sirius appears bright because of its intrinsic luminosity and its proximity to Earth. At a distance of 2.6 parsecs (8.6 ly), as determined by the Hipparcos astrometry satellite,the Sirius system is one of Earth's near neighbours. Sirius is gradually moving closer to the Solar System, so it will slightly increase in brightness over the next 60,000 years. After that time its distance will begin to increase and it will become fainter, but it will continue to be the brightest star in the Earth's night sky for the next 210,000 years</h3>
</nav>
</div>
{% endblock %}

</html>




