{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
<style>
.box
{
	position:fixed;
	width:620;
	height:530;
	background:#000;
	color:#fff;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	box-sizing:border-box;
	padding:20px 20px;
}
</style>
<body>

<div class="box">
<h2><b> Edit profile</b> </h2>

<form class="col-sm-9" class="form-control" method="post">
	{% csrf_token %}
    {{ form | crispy }}

<button class="btn btn-success" type="submit">Save </button>
</form>
</div>
</body>

{% endblock %}