{% extends 'base.html'%}
{% load crispy_forms_tags %}

{% block head %}

<title> profile </title>
{% endblock %}

{% block body %}

   <style>


.loginbox
{
	position:absolute;
	width:720;
	height:400;
	background:#000;
	color:#fff;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	box-sizing:border-box;
	padding:20px 20px;
}
</style>        
		<div class="loginbox">
	<h1><b> Reset Password</b></h1>
	<h4><i>
		Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one</i>
	</h4>	
	
<form class="col-sm-8" class="form-control" method="post">
	<i>{% csrf_token %}</i>
	<i>{{ form | crispy }}</i>
	<button class="btn btn-success" type="submit"> Reset password </button>
	<a class="btn btn-success" type="submit" href="/account/login">Login</a>
</form>	
</div>
<br>
</ul>
</div>
</div>
</nav>
</div>
{% endblock %}