{% extends 'basekids.html' %}
{% load staticfiles %}


{% block body %}

<body>
<h1> 6 Ways to Explore the Night time Sky With Kids</h1>

    <div class="row">
      <div class="column">
        <p>You Will Need<br>

1. bag of mini-marshmallows<br>
2.Toothpicks<br>
3.White pencil or crayon<br>
4.Black construction paper<br>
5.Constellation diagrams (link included below)<br>
6.Moon chart (link included below)
7.Books from the book list (many can be found at your local library)<br>
8.Apps for your phone (can be downloaded with links included below)<br>
9.Optional: binoculars or a telescope for outdoor viewing<br>

<h1>Preparation Time</h1>

1.Most of the activities take less than 15 minutes of prep time; some will need to be completed at night when the stars are out<br>

<h1>Activity Time</h1>

1.30 minutes to 3 hours (depending on how many activities you choose to do)<br>

<h1>Location</h1>

1.Most activities can be completed at home or in your backyard<br>
2.Optional visit to an observatory or planetarium—they can usually be found within an hour of most locations<br>
 </p>
      
    
</div>

</body>
{% endblock %}


</html>	

