{% extends 'basekids.html' %}

{% block body %}

<body>
<h1> Astronomy Books for kids  </h1>

    <div class="row">
      <div class="column">

1.The Moon Seems to Change by Franklyn Branley (ages 4-8)<br>
2.The Moon Book by Gail Gibbons (age 5+)<br>
3.There’s No Place like Space by Tish Rabe (ages 4-8)<br>
4.Magic Tree House: Space by Mary Pope Osborne (ages 7-10)<br>
5.Zoo in the Sky by Jacqueline Mitton (ages 6-9)<br>
6.The Big Dipper by Franklyn Branley (ages 4-8)<br>
7.Find the Constellations by R. A. Rey (ages 9-12)<br>
      
    
</div>

</body>
{% endblock %}


</html>	

