{% extends 'basekids.html' %}

{% block body %}

<body>
<h1> How to make model solar system </h1>

    <div class="row">
      <div class="column">

<h1> You Will Need </h1><br>
1.Model Solar System Bundle <br>
2.Black acrylic paint<br>
3.Posca white paint pen<br>
4.Different sized polystyrene balls<br>
5.Orange, yellow, red, blue, green, silver and gold paint<br>
6.Gold paper<br>
7.Glue<br>
8.Fimo Soft in Peppermint and Sunflower<br>
9.Fimo Effect in Glitter Blue, Agate Stardust and Metallic Gold<br>
10.Clear beading thread<br>
11.Hot melt glue gun<br>
12.Black paper<br>

<h1>Craft Essentials</h1><br>
1.Large shoe box<br>
2.Bamboo skewers<br>
3.Jug or polystyrene block<br>
4.Glue<br>
5.Large needle<br>
6.Sticky tape<br>
      
    
</div>

</body>
{% endblock %}


</html>	

